<div class="container" *ngIf="cliente" >
  <h1>Detalhes do Cliente</h1>

  <mat-card>
    <mat-card-content>
      <h2>{{cliente.tipoPessoa === 'FISICA' ? cliente.nome : cliente.razaoSocial}}</h2>
      <p><strong>{{ cliente.tipoPessoa === 'FISICA' ? 'CPF' : 'CNPJ' }}: </strong>
        {{cliente.tipoPessoa === 'FISICA' ? (cliente.cpfCnpj | mask : '000.000.000-00') : (cliente.cpfCnpj | mask: '00.000.000/0000-00')}}</p>
      <p><strong>{{ cliente.tipoPessoa === 'FISICA' ? 'RG' : 'Inscrição Estadual' }}: </strong>{{cliente.tipoPessoa === 'FISICA' ? cliente.rg : cliente.inscEstadual }}</p>
      <p><strong>{{ cliente.tipoPessoa === 'FISICA' ?
        'Data de Nascimento' :
        'Data de Criação' }}: </strong>{{ cliente.tipoPessoa === 'FISICA' ?
        (cliente.dataNascimento | date: 'dd/MM/yyyy') :
        (cliente.dataCriacao | date: 'dd/MM/yyyy')}}</p>
      <p><strong>E-mail: </strong>{{cliente.email}}</p>
      <p><strong>Status: </strong>{{cliente.ativo ? 'Ativo' : 'Inativo'}}</p>
    </mat-card-content>
  </mat-card>

  <h2>Endereços</h2>
  <button mat-raised-button color="primary" (click)="adicionaEndereco()">Adicionar Endereço</button>

  <div class="endereco-container">
    <mat-list>
      <mat-list-item *ngFor="let endereco of cliente.enderecos">
        <h3 matLine>{{endereco.logradouro}}, {{endereco.numero}}</h3>
        <p matLine>{{endereco.bairro}}, {{endereco.cidade}} - {{endereco.uf}}</p>
        <p matLine>{{endereco.cep | mask: '00.000-000'}}</p>
        <p matLine *ngIf="endereco.telefone">{{endereco.telefone | mask: '(00) 000000000'}}</p>
        <p matLine>Principal: {{endereco.enderecoPrincipal ? 'Sim' : 'Não'}}</p>
        <button mat-icon-button (click)="editaEndereco(endereco)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletarEndereco(endereco)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
