<div class="container">
  <h1>Novo Cliente</h1>

  <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Tipo de Pessoa</mat-label>
      <mat-select formControlName="tipoPessoa">
        <mat-option [value]="tipoPessoa.FISICA">Física</mat-option>
        <mat-option [value]="tipoPessoa.JURIDICA">Jurídica</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="formCliente.get('tipoPessoa')?.value === tipoPessoa.FISICA">
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="CPF" mask="000.000.000-00" formControlName="cpfCnpj">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="RG" formControlName="rg">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" placeholder="Data de Nascimento" formControlName="dataNascimento">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="formCliente.get('tipoPessoa')?.value === tipoPessoa.JURIDICA">
      <mat-form-field>
        <input matInput placeholder="Razão Social" formControlName="razaoSocial" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" formControlName="cpfCnpj" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Inscrição Estadual" formControlName="inscricaoEstadual" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" placeholder="Data de Criação" formControlName="dataCriacao" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </ng-container>

    <button class="submit-btn" mat-raised-button color="primary" type="submit" [disabled]="!formCliente.valid">Criar Cliente</button>
  </form>
</div>
